.GlobalTour .welcome-action {}

.GlobalTour .welcome-action video {
    width: 100vw;
    height: 100vh;
}

.spacer {
    min-height: 500px;
}

.spacer2 {
    min-height: 5000px;
}

.GlobalTour .text-elements-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.GlobalTour .text-elements .anime-titles {
    color: var(--back-ground-deep-gray-dark-mode-back-ground-black, #1E1E1E);
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    height: 80px;
    overflow: hidden;
}

.GlobalTour .moving-words {
    text-align: left;
}

.GlobalTour .trigger-poster {
    transform: translateY(-200px);
}

.GlobalTour .poster-wrap.step-two {
    transform: translateY(-50%);
    transition: 1s;
}

.GlobalTour .pictures-frame {
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}

.GlobalTour .poster-wrap,
.GlobalTour .all-text-box {}

.GlobalTour .all-text-box.step-two {
    transform: translateY(-50%);
    transition: 1s;
}

.GlobalTour .viriety-posters-sec {
    transform: translateY(-330px);
}

.GlobalTour .viriety-posters-sec .inner-wrap {
    height: 115px;
    overflow: hidden;
}

.GlobalTour .variety-frame {
    width: 100%;
    overflow: hidden;
}

.GlobalTour .viriety-posters.frame-2 {
    transform: translateX(-25%);
}

.GlobalTour .viriety-posters.frame-3 {
    transform: translateX(-50%);
}

.GlobalTour .viriety-posters.frame-4 {
    transform: translateX(-75%);
}

.GlobalTour .viriety-posters {
    width: 400%;
    display: flex;
    transition: 1s;
}

.GlobalTour .viriety-slide {
    width: 25%;
}

.GlobalTour .hidden {
    display: none;
}

.GlobalTour .poster-wrap img:hover {
    transform: scale(1.02);
    transition: 1s;
}

.GlobalTour .poster-wrap img {
    height: 550px;
}


.GlobalTour .vehicles-move {
    border-bottom: dashed 4px gray;
    position: relative;
}

.GlobalTour .vehicles-move .red-bullet {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #bf0000;
    border-radius: 100px;
    bottom: -8px;
    z-index: 1;
}

.GlobalTour .vehicles-move .red-bullet.step-2 {
    left: calc(100% / 3);
}

.GlobalTour .vehicles-move .red-bullet.step-3 {
    left: calc(100% / 3 *2);
}

.GlobalTour .vehicles-move .red-bullet.step-4 {
    left: calc(100% / 3 *3);
}
.GlobalTour .vehicles-icons {
    position: absolute;
    bottom: 27px;
    z-index: 2;
}
.GlobalTour .vehicles-icons .inner-wrap-icons {
   transition: 1s;
}

.GlobalTour .vehicles-icons svg{
    position: absolute;
   transition: 1s;

}
.GlobalTour .vehicles-icons .step-1{
    left: 0;
}
.GlobalTour .vehicles-icons .step-2{
    left: calc(100% / 3);
}
.GlobalTour .vehicles-icons .step-3{
    left: calc(100% / 3 * 2);
}
.GlobalTour .vehicles-icons .step-4{
    left: 100%;
}



.GlobalTour {}

.GlobalTour {}

.GlobalTour {}


.test {
    height: 20vh;
}