.GlobalTour .welcome-video {}

.GlobalTour .welcome-video video {
    width: 100%;
    height: 100vh;
}
.spacer{
    min-height: 500px;
}
.spacer2{
    min-height: 5000px;
}
.GlobalTour .text-elements-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.GlobalTour .text-elements .anime-titles {
    color: var(--back-ground-deep-gray-dark-mode-back-ground-black, #1E1E1E);
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    height: 80px;
    overflow: hidden;
}

.GlobalTour .moving-words{
    text-align: left;
}

.GlobalTour .trigger-poster{

}

.GlobalTour {}

.GlobalTour {}

.GlobalTour {}

.GlobalTour {}

.GlobalTour {}


.test {
    height: 20vh;
}
.mytest{
    transform: translateY(-330px);
}