.GlobalTour {
    background: #f2f2f2 !important
}

section {
    background: #f2f2f2;

}

.GlobalTour .video-action video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.GlobalTour .managers {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.GlobalTour .managers .back-managers {
    position: absolute;
    top: 0;
    z-index: 1;
}

.GlobalTour .managers .overlayer {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 5;
    width: 100%;
}

.GlobalTour .managers .overlayer .title-center-moving-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 92px;
    font-weight: bold;
}

.GlobalTour .managers .overlayer .bottom-slide-text {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.GlobalTour .managers .overlayer h1.go-top {
    /* left: 130px;
    transform: translate(0%, -50%); */
    top: -50%;
    transform: translate(-50%, 0);
}

.spacer {
    min-height: 500px;
}

.spacer2 {
    min-height: 5000px;
}

.GlobalTour .text-elements-wrap {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.GlobalTour .text-elements .anime-titles {
    color: var(--back-ground-deep-gray-dark-mode-back-ground-black, #1E1E1E);
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-transform: uppercase;
    height: 80px;
    overflow: hidden;
}

.GlobalTour .moving-words {
    text-align: left;
}

.GlobalTour .trigger-poster {
    transform: translateY(-200px);
}

.GlobalTour .poster-wrap.step-two {
    transform: translateY(-50%);
    transition: 1s;
}

.GlobalTour .pictures-frame {
    height: 550px;
    overflow: hidden;
    border-radius: 10px;
    transition: 1s;
}

.GlobalTour .poster-wrap,
.GlobalTour .all-text-box {}

.GlobalTour .all-text-box.step-two {
    transform: translateY(-50%);
    transition: 1s;
}

.GlobalTour .viriety-posters-sec {
    transform: translateY(-330px);
}

.GlobalTour .viriety-posters-sec .inner-wrap {
    height: 115px;
    overflow: hidden;
}

.GlobalTour .variety-frame {
    width: 100%;
    overflow: hidden;
}

.GlobalTour .viriety-posters.frame-2 {
    transform: translateX(-25%);
}

.GlobalTour .viriety-posters.frame-3 {
    transform: translateX(-50%);
}

.GlobalTour .viriety-posters.frame-4 {
    transform: translateX(-75%);
}

.GlobalTour .viriety-posters {
    width: 400%;
    display: flex;
    transition: 1s;
}

.GlobalTour .viriety-slide {
    width: 25%;
}

.GlobalTour .hidden {
    display: none;
}

.GlobalTour .poster-wrap img:hover {
    transform: scale(1.02);
    transition: 1s;
}

.GlobalTour .poster-wrap img {
    height: 550px;
}


.GlobalTour .vehicles-move {
    border-bottom: dashed 4px gray;
    position: relative;
}

.GlobalTour .vehicles-move .red-bullet {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #bf0000;
    border-radius: 100px;
    bottom: -8px;
    z-index: 1;
}

.GlobalTour .vehicles-move .red-bullet.step-2 {
    left: calc(100% / 3);
}

.GlobalTour .vehicles-move .red-bullet.step-3 {
    left: calc(100% / 3 *2);
}

.GlobalTour .vehicles-move .red-bullet.step-4 {
    left: calc(100% / 3 *3);
}

.GlobalTour .vehicles-icons {
    position: absolute;
    bottom: 27px;
    z-index: 2;
}

.GlobalTour .vehicles-icons .inner-wrap-icons {
    transition: 1s;
}

.GlobalTour .vehicles-icons svg {
    position: absolute;
    transition: 1s;

}

.GlobalTour .vehicles-icons .step-1 {
    left: 0;
}

.GlobalTour .vehicles-icons .step-2 {
    left: calc(100% / 3);
}

.GlobalTour .vehicles-icons .step-3 {
    left: calc(100% / 3 * 2);
}

.GlobalTour .vehicles-icons .step-4 {
    left: 100%;
}



.GlobalTour .inner-wrap-title {
    display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 300px;
    overflow: hidden;
}

.GlobalTour .inner-wrap-title h2 {
    font-size: 50px;
    font-weight: bold;

}

.GlobalTour .no-worries {
    position: relative;
    height: 150vh;
}

.GlobalTour .title-no-worries {
    transform: translate(0%, 0%);
    width: 100%;
}

.GlobalTour .title-no-worries.pinned {
    position: absolute;
}

.GlobalTour .title-no-worries-wrap {
    /* overflow: hidden; */
}

.GlobalTour .go-connect {
    background-color: #1E1E1E;
    opacity: 0;
}


.GlobalTour .connect-section {
    height: 100%;
    width: 100%;
    position: relative;
}

.GlobalTour .inner-connect-section {
    position: absolute;
    top: 0;
}

.GlobalTour .connect-title {
    margin-bottom: 50px;
    margin-top: 300px;
}

.GlobalTour .office-posters-wrap {
    opacity: 0;
    height: 483px;
    overflow: hidden;
    position: relative;
}


.GlobalTour .office-posters-wrap .office-posters-main-slide {
    position: absolute;
    top: 0;
    width: 100%;
}

.GlobalTour .office-slide {
    display: flex;
    background: white;
    justify-content: space-between;

}

.GlobalTour .negotiate-slide {
    position: relative;
}

.GlobalTour .dark-layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.569);
}

.GlobalTour .text-poster {
    position: absolute;
    top: 50%;
    background: #f2f2f2;
    left: 10%;
    min-width: 30%;
    max-width: 40%;
    transform: translateY(-50%);
}

/* 
.GlobalTour .office-1 {
    z-index: 3;
}

.GlobalTour .office-2 {
    z-index: 2;
}

.GlobalTour .office-3 {
    z-index: 1;
} */

.GlobalTour .some-margin {
    margin-bottom: 200px;
}

.GlobalTour .align-system {
    padding-top: 21vh;
    /* padding: 28vh 0; */
}

.GlobalTour .negotiate-posters-wrap {
    /* opacity: 0; */
    height: 560px;
    overflow: hidden;
    position: relative;
}

.GlobalTour .negotiate-posters-wrap .office-posters-main-slide {
    position: absolute;
    top: 0;
    width: 100%;
}

.GlobalTour .go-negotiate {
    padding-bottom: 100px;
    min-height: 100vh;
}

.GlobalTour .overflow-me {
    overflow: hidden;
    transition: 1s;
}

.GlobalTour .image-part,
.GlobalTour .form-part {
    transition: 0.3s;
    background: white;
    min-height: 487px;
}

.GlobalTour .image-part.separated {
    transform: translateX(-110%);
}

.GlobalTour .form-part.separated {
    transform: translateX(110%);
}

.GlobalTour .red-space {
    height: 100vh;
}

.GlobalTour .red-frame {
    background-image: url("../assets/img/planet-banner-19201.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.GlobalTour .tools-circle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.GlobalTour .red-frame .moving-title {
    /* position: absolute; */
    top: 75%;

}

.GlobalTour .red-frame .moving-title h4 {
    color: var(--text-color-dark-background-base-text-color-dark-background, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
}

/* /////////////////////////////////////////// */
.test {
    height: 20vh;
}

.space-test {
    height: 200vh;
}